body {
    background-color: aliceblue;
}

.container, table {
    margin-top: 20px;
}

#board {
    background-color: pink;
}

h1, h4, table {
    text-align: center;
}

table {
    table-layout:fixed;
}
td {
width:150px; 
height:75px; 
}