body {
    background-color: aliceblue;
}

.container, table {
    margin-top: 20px;
}

#board {
    background-color: pink;
}

h1, h4, .cards {
    text-align: center;
}
/* 
td, .cards {
width: 10vw; 
height: 10vh; 
} */